<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main-min.css">
</head>

<body>
    <h1>{{ title }}</h1>
	<div class="display-error">
    <img src="/images/error.png" alt="error" height="32" width="32" />
    {{error}}
    {{#messages}}
      {{[1]}} <br />
    {{/messages}}
  </div>
	<ul>
		{{#content}}  
	 		<li>Id: {{ id }}, Title: {{ title }}, Description: {{ description }}, Date Created: {{ datecreated }} </li>
	    {{/content}}
	</ul>	
	{{{ body }}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
