<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
    {{ title }}
	
	<ul>
		{{#content}}  
	 		<li>UserId: {{ id }}, Title: {{ title }}, Description: {{ description }}, Date Created: {{ datecreated }} </li>
	    {{/content}}
	</ul>	
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
