<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main-min.css">
</head>

<body>
	
{{#if user}}
	<a href="/logout">Logout</a>
{{else}}
	<a href="/login/facebook">Sign in with Facebook</a>
{{/if}}

    <h1>{{ title }}</h1>
	{{#if messages}}
	<div class="display-error">
    	<img src="/images/error.png" alt="error" height="32" width="32" />
    	{{#messages}}
      		{{[1]}} <br />
    	{{/messages}}
  	</div>
	{{/if}}
	
	{{#if user}}
		<p>
			UserID: {{user.userID}}
			<br>
			Name: {{user.name}}
			<br>
			Gender: {{user.gender}}
			<br>
			Profile Url: <a href="{{user.profileUrl}}" target="_blank">Profile</a>
		</p>
	{{/if}}
	
	{{{ body }}}
    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
